:root {
  --color-primary: #d1b4aa;
  --color-secondary: #3c3950;
  --font-famly: "Source Sans Pro", sans-serif;
}
body{
  font-family: "Source Sans Pro", sans-serif;;
}
/* HOME */
.bg-primary {
  background-color: var(--color-primary) !important;
}

.logo {
  max-width: 100px;
}
.sticky-top {
  background-color: rgb(209, 180, 170,0.7);
}
.nav-link {
  color: white;
  font-family: "montserrat";
  font-size: 14px;
  font-weight: 700;
}
.nav-link:hover {
  color: #3c3950;
}
.nav-link.active {
  color: #3c3950;
}
.active-servicio{
  background-color: rgb(209, 180, 170,1);
  color:white
}
.dropdown-item:hover{
  background-color: rgb(209, 180, 170,0.7);
}
.img-carousel {
  height: 600px;
  object-fit: cover;
  
}
.carousel-item::before{
  content:'';
  background-color: rgba(0, 0, 0, 0.3);
  height: 600px;
  width: 100%;
  z-index: 2;
  position: absolute;
}
.banner-home {
  z-index: 2;
  right: 10%;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.banner-home h2 {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;

  font-weight: 300;
  text-align: center;
}
.banner-home span {
  color: #ffffff;
  font-family: "Poppins", Sans-serif;

  font-weight: 800;
  text-align: center;
}
.banner-home p {
  text-align: center;
  color: #ffffff;
  font-family: "PT Serif", serif;
  font-size: 18px;
  font-style: italic;

  letter-spacing: 1.1px;
}
.reservar {
  font-family: "Source Sans Pro", Sans-serif;
  font-size: 18px;
  font-weight: 700;
  fill: #d1b4aa;
  color: #d1b4aa;
  background-color: #ffffff;
  border-radius: 14px 14px 14px 14px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 13px 33px 13px 33px;
}
.reservar:hover {
  background-color: #d1b4aa;
  color: white;
}
.fotomaton {
  color: #494c64;
  font-family: "Bungee Shade", Sans-serif;
  font-size: 40px;
  font-weight: 600;
}
.para {
  color: #494c64;
  font-family: "Montserrat", Sans-serif;
  font-size: 25px;
  font-weight: 400;
}
.titulo1 {
  color: #494c64;
  font-family: "Montserrat", Sans-serif;
  font-size: 32px;
  font-weight: 800;
}
.titulo2 {
  color: #494c64;
  font-family: "Montserrat", Sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 4px;
}
.foto1 {
  box-shadow: 20px 20px 40px var(--color-primary);
  border-radius: 30px;
  max-width: 500px;
margin: 0 auto;
display: flex;
width: 100%;
}
.foto1:hover {
  transition: 2s;
  transform: rotate(10deg);
}
.p-home {
  color: var(--color-secondary);
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  font-family: "Source Sans Pro";
}
.banner-solicita{
  top: 0;
  z-index: -1;
  position: absolute;
  object-fit: cover;
}
.h2-banner-solicita{
  font-family: 'Cormorant Garamond', serif;
  font-size: 36px;
  color:#845A12;
  text-transform: uppercase;
  text-align: center;
}
.h4-banner-solicita{
  font-family: 'Daydream', sans-serif;
  font-size: 40px;
  color:#845A12;
  text-align: center;
}
.p-home-lista::before {
  font-family: "Font Awesome 5 Free";
font-weight: 900;
content: "\f058";
position: absolute;
left: -18px;
color: #d1b4aa;
top: 1px;
}
.p-home-lista {
min-height: 48px;
  position: relative;
}
.iconos {
  color: #d1b4aa;
  font-size: 30px;
}
.hover:hover {
  background-color: #d1b4aa1f;
  border-radius: 40px;
}
.menu_icon_wrapper {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
}
.menu-icon-line.first {
  transition: transform 300ms cubic-bezier(0.52, -0.8, 0.52, 0.52);
  transform-origin: right;
}
.menu-icon-line.half {
  width: 50%;
}
.menu-icon-line {
  background-color: white;
  border-radius: 2px;
  width: 100%;
  height: 2px;
}
.menu-icon-line.last {
  align-self: flex-end;
  transition: transform 300ms cubic-bezier(0.52, -0.8, 0.52, 0.52);
  transform-origin: left;
}
 .menu_icon_wrapper.active {
    transform: rotate(-45deg);
  }
  .active >.menu-icon-line.first {
    transform: rotate(-90deg) translateX(1px);
  }
   .active >.menu-icon-line.last {
    transform: rotate(-90deg) translateX(1px);
  }
  .menu_icon_wrapper.normal {
    transform: rotate(-0deg);
  }
  .normal >.menu-icon-line.first {
    transform: rotate(-0deg) translateX(1px);
  }
   .normal >.menu-icon-line.last {
    transform: rotate(-0deg) translateX(1px);
  }
.navbar-toggler {
  border: 0;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 0;
}
.img-slick-1{
  max-height: 150px;
  object-fit: cover;
}
.img-slick-1:hover{
  transform:scale(1.1)
}
.slick-slide img{
  display:flex !important;
  justify-content: center !important;
  margin: 0 auto;
  
margin-bottom: 2rem;

}
.h2-carousel{
  font-family: "monserrat";
  font-size: 36px;
  color: var(--color-secondary);
  text-align: center;
  font-weight:900 ;
}
/* flip card */
.flip3D {
  width: 350px;
  height: 480px;
  font-size: 16pt;
  font-family: open sans;
  font-weight: 300;
  display: flex;
  margin: 0 auto;
  
}
.flip3D .front {
  position: absolute;
  -webkit-transform: perspective(8000px) rotateY(0deg);
  transform: perspective(8000px) rotateY(0deg);
  
  
  width: 350px;
  height: 480px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: transform .5s linear 0s;
  -moz-transition: transform .5s linear 0s;
  -ms-transition: transform .5s linear 0s;
  -o-transition: transform .5s linear 0s;
  transition: transform .5s linear 0s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
}


.flip3D .front img{
  height: 100%;
  width: 100%;
  display: block;
  margin: 0 auto;
  
  position: relative;
 object-fit: cover;
  z-index: 1;
}




.flip3D:hover .front {
  -webkit-transform: perspective(8000px) rotateY(180deg);
  transform: perspective(8000px) rotateY(180deg);
}
.flip3D .back {
  position: absolute;
  -webkit-transform: perspective(8000px) rotateY(180deg);
  transform: perspective(8000px) rotateY(180deg);
  
  color: white;
  width: 350px;
  height: 480px;
  border-radius: 1, 5px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: transform .5s linear 0s;
  -moz-transition: transform .5s linear 0s;
  -ms-transition: transform .5s linear 0s;
  -o-transition: transform .5s linear 0s;
  transition: transform .5s linear 0s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: rgba(0, 0, 0, 0.6);
}
.flip3D:hover .back {
  -webkit-transform: perspective(8000px) rotateY(0deg);
  transform: perspective(8000px) rotateY(0deg);
}
.titulo-flip{
  z-index: 4;
position: absolute;
width: 100%;
text-align: center;
align-content: center;
top: 0;
display: flex;
bottom: 0;
justify-content: center;
align-items: center;
color: white;
font-family:'poppins'
}
.front::before{
  content:'';
  background-color: rgba(0, 0, 0, 0.6);
  height: 480px;
  width: 100%;
  z-index: 2;
  position: absolute;
  border-radius: inherit;
}
.foto-opiniones{
  border-radius: 50%;
margin-top: 1rem;
}
.titulo-opiniones{
  font-family: "montserrat";
  color: var(--color-primary);
}
.p-nombre{
  
  font-size: 30px;
  font-family: "montserrat";
}
.card-opiniones{
  border-color: var(--color-primary);
  border: 2px solid var(--color-primary);

}
.flechas{
  text-decoration: none;
  display: flex;
  position: absolute;
  top: 50%;
  font-size: 40px;
  color: var(--color-primary);
  z-index: 999;

}.p-opioniones{
  min-height: 168px;
}
.slick-prev{
  left: 0;
}
.slick-next{
  right: 0;
}
.borde-top{
  border-top: 2px solid var(--color-primary);
}
/* flip card */

.h2-contacto{
  font-family: "Montserrat", Sans-serif;
font-size: 30px;
font-weight: 900;
}
.h6-contacto{
  font-family: "Montserrat", Sans-serif;
font-weight: 600;
color:rgb(60, 57, 80);
}
#form label{
  color:var(--color-primary)

}
.btn-enviar{
  background-color: var(--color-primary);
margin: 0 auto;
display: flex;
padding: 1rem 3rem;
color:white
}
.p-footer{
  font-family: "Source Sans Pro";
  color:white;
  font-weight: 400px;
}
.h2-footer{
  font-family: "Montserrat";
  color:white;
  font-weight: 700px;
}
.link-footer{
  font-family: "Source Sans Pro";
  color:white;
  font-weight: 400px;
}
.ul-footer{
  list-style: none;
  position: relative;
}
.ul-footer li::before{
  content: " ";
  font-family: "Font Awesome 5 Free";
font-weight: 900;
content: "\f054";
position: absolute;
left: 10px;
color: white;
}
#carouselExampleAutoplaying .carousel-inner .carousel-item > img{
  -webkit-animation: thing 20s;
  -o-animation: thing 20s;
  animation:thing 20s;

}
@keyframes thing{
  from{
    transform: scale(1.1);

  }to {
    transform: scale(1.5, 1.5);
  }
}
.incluye{


font-family: "PT Serif", serif;
font-size: 26px;
font-style: italic;
letter-spacing: 1.1px;
}
.telefono::before{
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f095";
  padding-right: 5px;
}
.email::before{
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f0e0";
  padding-right: 5px;
}
.link-footer:hover{
  color:var(--color-secondary);
  font-weight: 700;
}
.link-footer .fa-brands:hover{
  color:var(--color-secondary) !important;
  
}
/* HOME */
/* BODAS */
.bg-bodas{
  background-image:url(../img/carousel/12.jpg);
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  height: 250px;
  position:relative;
  z-index: 1;
}
.bg-bodas::before{
  content: " ";
  background-color: rgb(209, 180, 170,0.2);
  z-index: 2;
  position: absolute;
  height: 250px;
  width: 100%;
}
.carousel-control-next, .carousel-control-prev{
  z-index: 3 !important;
  color:var(--color-primary)
}
.carousel-indicators{
  z-index: 3 !important;
  bottom: -40px;
  
}
.carousel-indicators [data-bs-target]{
  background-color: var(--color-primary);
}
.hr-bodas{color:var(--color-primary);
  opacity:1}
  .foto-boda{
    object-fit: cover;
    height: 500px;
    width: 100%;
  }
/* BODAS */
/* EVENTOS */
.bg-eventos{
  background-image:url(../img/carousel/10.jpg);
  background-repeat:no-repeat;
  background-position:0 center -100px;
  background-size:cover;
  height: 250px;
  position:relative;
  z-index: 1;
}
.bg-eventos::before{
  content: " ";
  background-color: rgb(209, 180, 170,0.2);
  z-index: 2;
  position: absolute;
  height: 250px;
  width: 100%;
}
/* eventos */
/* GALERIA */
.grid-fotos{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.grid-img{
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;

}
/* GALERIA */
/* SERVICIOS */
.bg-servicios{
  background-image:url(../img/coches/atrezzo.png);
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  height: 250px;
  position:relative;
  z-index: 1;
}
.bg-servicios::before{
  content: " ";
  background-color: rgb(209, 180, 170,0.2);
  z-index: 2;
  position: absolute;
  height: 250px;
  width: 100%;
}
.p-servicios {
  color: var(--color-secondary);
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  font-family: "Source Sans Pro";
  text-align: center;
  
}
.ratio{
  background-color: rgb(0, 0, 0, 0.3) !important;
}
.lightbox .carousel-item::before{
  background-color:transparent !important;
  z-index: -1 !important;
}
.ratio img{
  width: 100% !important;
  object-fit: cover !important;
}
.h2-coches{
  font-family: "monserrat";
  font-size: 30px;
  color: var(--color-secondary);
  text-align: center;
  font-weight: 900;
}
.h4-coches{
  font-family: "monserrat";
  font-size: 26px;
  color: var(--color-secondary);
  text-align: center;
  font-weight: 900;
}
.p-coches{
  color: var(--color-secondary);
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  font-family: "Source Sans Pro";
  
}
/* SERVICIOS */
@media (max-width:1400px){
  .titulo-opiniones{
    min-height: 76px;
display: flex;
flex-direction: column;
justify-content: center;
  }
  .p-opioniones{
    min-height: 192px;
  }
}
@media (max-width: 1200px) {
  .titulo-opiniones{
    min-height: 76px;
  }
  .p-opioniones{
    min-height: 250px;
  }
}

@media (max-width: 992px) {
  .banner-solicita{
    object-fit: contain;
    min-height: 370px;
   }
   .hr-pack{
    display: none;
   }
   .acordion-boton .h2-carousel{
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    padding: 0.5rem;
   }
}

@media (max-width: 767px) {
  .sticky-top {
    background-color: rgb(209, 180, 170);
}
.banner-solicita{
  display: none;
}.p-home-lista {
  min-height: 0;
    position: relative;
  }

    .banner-home{
        right: inherit;
    }
    .p-opioniones{
      min-height: 150px;
    }
    /* .fixed-top{
      max-width: 81%;
    } */
    
}
