.banner-head {
background-image: url("../assets/img/banner.jpg");
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  filter: grayscale(75%);
}
.banner-2 {
  background-image: url("../assets/img/matrix-code.gif");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  filter: grayscale(75%);
}
.banner-3 {
    background-image: url("../assets/img/banner-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    filter: grayscale(75%);
  }
body {
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}
.nav-link {
  text-decoration: underline;
  font-size:20px;
}
.nav-link:hover {
  color: darkblue !important;
  background: white;
  border-radius: 20px;
}
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
  height: 50px;
  margin-right: 20px;
}
.flechas {
  font-size: 50px;
  margin: auto 0;
  color: white;
 
}
.link-card::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f002";
  color: darkblue;
}
.link-card:hover {
  color: var(--bs-link-hover-color);
  transform: scale(1.2);
}
.link-card {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 30px;
}
.titulo-card {
  color: white;
  font-family: 800;
  padding-top: 20px;
  min-height: 100px;
}
.borde {
  border: 1px solid white;
}


.newscript:hover{
    color: darkblue !important;
}
.p-portfolio{
  min-height: 215px;
  padding-top:1rem
}





.sticky-top {
  border-bottom: 2px solid lightgray;
  background-color: lightgray;
  opacity: 0.7;
}
.nav-link{
  color:black;
}

/* botton hover */

a {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

a.learn-more {
  width: 12rem;
  height: auto;
  margin: 0 auto;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #6c757d;
  border-radius: 1.625rem;
}

a.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

a.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

a.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

a.learn-more .a-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

a:hover .circle {
  width: 100%;
}
.a-text:hover {
  color: white !important;
}
a:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
